@import  "./variables.scss";
@import "./add-product.scss";
@import "./products.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    cursor: pointer;
    color: $text-primary;
}

body {
    font-family: 'Source Sans Pro';
    // font-weight: 600;
    background: $background;
}

.container {
    width: 1440px;
    padding: 0 32px;
    margin: 0 auto;
}

.form {
    background: $background-100;
    padding: $indent-primary * 3;
    border-radius: $border-radiys-primary;

    &__label {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__title {
        font: {
           weight: 400;
           size: 0.625rem;
        }
        letter-spacing: -0.01rem;
      }
      
      &__field {
        padding: 10px 16px 11px;
        border: none;
        border-radius: $border-radiys-primary;
        font: {
           family: "Source Sans Pro";
           weight: 400;
           size: 0.75rem
        }
        line-height: 0.9375rem;
        box-shadow: $form-shadow;
        resize: none;
     
        &:focus {
           outline: none;
        }
      }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 11px;
    border: none;
    border-radius: 10px;
    font: {
        weight: 600;
        size: 0.75rem;
    }
    line-height: 0.9375rem;
    letter-spacing: -0.01rem;
    color: $no-active-text;
    cursor: pointer;
}

