// colors
$background : #e5e5e5;
$background-100: #fffefb;
    //text
$text-primary: #3f3f3f;
$form-title: #49485E;

    // element
$no-active-text: #b4b4b4; 
$no-active-element: #eeeeee;

$warning: #ff8484;

// отступы

$indent-primary: 8px;
// тень

$form-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
$product-card-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);

// бордер радиус
$border-radiys-primary: 4px;